<?php

class Config
{
    public float $threshold = 1;
    public string $latitude = '37.385272';
    public string $longitude = '55.584227';
    public string $locationName = 'moscow';
    public string $locationId = '000000';
    public string $timezone = 'Europe/Moscow';

    public string $tgApiKey = '<API key>';
    public string $tgChatId = '<chat id>';
}

return new Config();
